/*
 * Copyright 2014 Synexxus Devices
 * Copyright 2012 Freescale Semiconductor, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	aliases {
                mxcfb0 = &hdmi_display;
                mxcfb1 = &lvds_display;
                mxcfb2 = &lcd_display;
                mxcfb3 = &lvds_display_2;
		hdmi_display = &hdmi_display;
		lvds_display = &lvds_display;
		lcd_display = &lcd_display;
		hannstar = &XGA_LVDS0;

		lvds_display_2 = &lvds_display_2;
		hannstar_2 = &XGA_LVDS1;
		ldb = &ldb;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 5000000>;
		brightness-levels = <0 2 4 8 16 32 48 64 72 96 128 140 196 224 255>;
		default-brightness-level = <9>;

		// This is the LVDS_PANEL_EN (DISP_PWR_EN Net)
		// Was &gpio6 14 0 for the Highlander board & on Aristeus
		enable-gpios = <&gpio6 16 0>;
	};

	clocks {
		codec_osc: anaclk2 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24576000>;
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 3 0>;		// Change dto dummy search button
			enable-active-high;
		};

	};

	gpio-keys {
		compatible = "gpio-keys";
		power {
			label = "Power Button";
			gpios = <&gpio2 3 0>;
			linux,code = <116>; /* KEY_POWER */
			gpio-key,wakeup;
		};

		volume-up {
			label = "Volume Up";
			gpios = <&gpio6 9 0>;
			linux,code = <115>; /* KEY_VOLUMEUP */
		};

		volume-down {
			label = "Volume Down";
			gpios = <&gpio6 10 0>;
			linux,code = <114>; /* KEY_VOLUMEDOWN */
		};
	};

	hdmi_display: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1024x768M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lvds_display: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		//BBBdefault_bpp = <16>;
		default_bpp = <10>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	lcd_display: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lvds_display_2: fb@3 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		//BBBdefault_bpp = <16>;
		default_bpp = <10>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	lcd0: lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB666";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1>;
		status = "disabled";
	};

	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		/* CHANGE TO 0 and 0 for PERICOM*/
		ipu_id = <1>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "disabled";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
	
	gpio_keys_bezel {
		compatible = "gpio-keys";
			
		exInput0 {
			label = "KEY_PAGEDOWN";
			gpios = <&expander 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_PAGEDOWN>;
	        };
		exInput1 {
			label = "KEY_PAGEUP";
			gpios = <&expander 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_PAGEUP>; 
		};
		exInput2 {
			label = "KEY_SPACE";
			gpios = <&expander 2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SPACE>;
		};
		exInput3 {
			label = "KEY_HOME";
			gpios = <&expander 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_HOME>;
		};
		exInput4 {
                        label = "KEY 4";
                        gpios = <&expander 4 GPIO_ACTIVE_LOW>;
                        linux,code = <5>;
                };
		exInput5 {
                        label = "KEY 5";
                        gpios = <&expander 5 GPIO_ACTIVE_LOW>;
                        linux,code = <6>;
                };
		exInput6 {
			label = "KEY_NUMLOCK";
			gpios = <&expander 6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_NUMLOCK>;
		};
		exInput7 {
			label = "KEY_ENTER";
			gpios = <&expander 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ENTER>;
		};

		exInput8 {
                        label = "KEY 8";
                        gpios = <&expander 8 GPIO_ACTIVE_LOW>;
                        linux,code = <9>;
                };
                exInput9 {
                        label = "KEY 9";
                        gpios = <&expander 9 GPIO_ACTIVE_LOW>;
                        linux,code = <10>;
                };
                exInput10 {
                        label = "KEY A";
                        gpios = <&expander 10 GPIO_ACTIVE_LOW>;
                        linux,code = <30>;
                };
                exInput11 {
                        label = "KEY B";
                        gpios = <&expander 11 GPIO_ACTIVE_LOW>;
                        linux,code = <48>;      
                };
                exInput12 {
                        label = "KEY C";
                        gpios = <&expander 12 GPIO_ACTIVE_LOW>;
                        linux,code = <46>;      
                };
                exInput13 {
                        label = "KEY D";
                        gpios = <&expander 13 GPIO_ACTIVE_LOW>;
                        linux,code = <32>;
                };
                exInput14 {
                        label = "KEY E";
                        gpios = <&expander 14 GPIO_ACTIVE_LOW>;
                        linux,code = <18>;
                };
                exInput15 {
                        label = "KEY F";
                        gpios = <&expander 15 GPIO_ACTIVE_LOW>;
                        linux,code = <33>;
                };
	};

	leds-bezel {
		compatiable = "gpio-leds";
		pinctrl-0 = <&pinctrl_bezelled>;
		pinctrl-names = "default";
	
		bezel-blue {
			label ="BEZEL_BLUE";
			gpios = <&gpio2 2 GPIO_ACTIVE_LOW>;
		};
		bezel-green {
			label ="BEZEL_GREEN";
                        gpios = <&gpio2 1 GPIO_ACTIVE_LOW>;
		};
		
	};
};


&ecspi1 {
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio2 30 0
		    &gpio3 19 0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1 
		     &pinctrl_ecspi1_cs0
		     &pinctrl_ecspi1_cs1>;
	status = "okay";

	// First EEPROM
        spidev@0x00 {
                compatible = "spidev";
                spi-max-frequency = <20000000>;
                reg = <0>;
        };

	// Second EEPROM (boot)
        spidev@0x01 {
                compatible = "spidev";
                spi-max-frequency = <20000000>;
                reg = <1>;
        };

/*	flash: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p32";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
*/
};

&ecspi2 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio5 12 0>, <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2
  		     &pinctrl_ecspi2_cs>;
	status = "okay";

        spidev@0x00 {
                compatible = "spidev";
                spi-max-frequency = <20000000>;
                reg = <0>;
        };
};


/*&ecspi3 {
	fsl,spi-num-chipselects = <4>;
	cs-gpios = <&gpio4 24 0>,
		   <&gpio4 25 0>,
		   <&gpio4 26 0>,
		   <&gpio4 27 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3_1 
	             &pinctrl_ecspi3_cs_1
		     &pinctrl_ecspi3_cs_2
		     &pinctrl_ecspi3_cs_3
		     &pinctrl_ecspi3_cs_4>;
	status = "okay";
        spidev@0x00 {
                compatible = "spidev";
                spi-max-frequency = <30000000>;
                reg = <0>;
        };
        spidev@0x01 {
                compatible = "spidev";
                spi-max-frequency = <30000000>;
                reg = <1>;
        };
        spidev@0x02 {
                compatible = "spidev";
                spi-max-frequency = <30000000>;
                reg = <2>;
        };
        spidev@0x03 {
                compatible = "spidev";
                spi-max-frequency = <30000000>;
                reg = <3>;
        };
};*/


&esai {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esai2>;
	status = "okay";
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;         /* original had _4 */
	phy-mode = "rgmii";
	status = "okay";
};

/* SABRESD LDO BYPASS SETUP */
&gpc {
        fsl,ldo-bypass = <1>;
};


/* fsl,ldo-bypass = <0>;  use ldo-bypass, u-boot will check it and configure */
/* fsl,wdog-reset = <2>;  watchdog select of reset source */
/*pu-supply = <&pu_dummy>; /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
/* BBBBB if anything use the SABRESD LDO BYPASS REFERENCE ABOVE*/
/*&gpc {
	fsl,cpu_pupscr_sw2iso = <0xf>;
	fsl,cpu_pupscr_sw = <0xf>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,ldo-bypass = <0>;
	fsl,wdog-reset = <2>;
	pu-supply=<&reg_pu>;
};*/

/*  BBBB NOW SEEMS TO BE CONTROLLED BY GPC */
/*pu-supply = <&pu_dummy>;*/ /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
/*&gpu {
	pu-supply=<&reg_pu>;
};*/

/* Added from imx6qdl-sabresd.dtsi reference*/
&vpu {
	/*pu-supply = <&pu_dummy>;*/ /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
	pu-supply=<&reg_pu>;
};

&hdmi_core {
	compatible = "fsl,imx6dl-hdmi-core";
        reg = <0x00120000 0x9000>;
        clocks = <&clks 124>, <&clks 123>, <&clks 138>;
        clock-names = "hdmi_isfr", "hdmi_iahb", "mipi_core";
	ipu_id = <0>;
	disp_id = <1>;
        status = "okay";
};

/*&hdmi_video: hdmi_video@020e0000 {*/

&hdmi_video {
	compatible = "fsl,imx6dl-hdmi-video";
        reg =  <0x020e0000 0x1000>;
        reg-names = "hdmi_gpr";
        interrupts = <0 115 0x04>;
        clocks = <&clks 124>, <&clks 123>, <&clks 138>;
        clock-names = "hdmi_isfr", "hdmi_iahb", "mipi_core";
        status = "disabled";
};

/*hdmi_audio: hdmi_audio@00120000 {*/
&hdmi_audio {
	compatible = "fsl,imx6dl-hdmi-audio";
        clocks = <&clks 124>, <&clks 123>, <&clks 138>;
        clock-names = "hdmi_isfr", "hdmi_iahb", "mipi_core";
        dmas = <&sdma 2 22 0>;
        dma-names = "tx";
        status = "disabled";
};


/*hdmi_cec: hdmi_cec@00120000 {*/
&hdmi_cec {
	compatible = "fsl,imx6dl-hdmi-cec";
        interrupts = <0 115 0x04>;
    	pinctrl-names = "default";
    	pinctrl-0 = <&pinctrl_hdmi_cec>;  // Use EIM_A25 for CEC_IN
        status = "disabled";
};

&i2c1 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c1>;
    status = "okay";

	/*adv7604_camera: adv7604_camera@20 { 	// i2c1 driver 
		compatible = "adv,adv7604_camera";
		reg = <0x20>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu2_2>;
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&sw2_reg>; 	// 3.3v 
		AVDD-supply = <&vgen4_reg>;  	// 1.8v 
		DVDD-supply = <&sw2_reg>;  	// 1.8v 
		//pwn-gpios = <&gpio6 9 1>;   	// Not True 
		//rst-gpios = <&gpio1 4 0>;   	// Reset Signal 
		//pwn-gpios = <&gpio5 27 1>;	// ARISTEUS TEST BOARD POWER DOWN 
		pwn-gpios = <&gpio6 3 0>;	// ARISTEUS TEST BOARD POWER DOWN #2
		rst-gpios = <&gpio6 1 0>;	// ARISTEUS TEST BOARD RESET 
		ipu_id = <1>;
		csi_id = <1>;
		//mclk = <24000000>;		// Gated Mode
		mclk = <0>;			// BT.656
		mclk_source = <0>;
	};*/

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze100";
			reg = <0x08>;

			regulators {
				sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};
	crtouch_screen: crtouch@49 {
		compatible = "fsl,crtouch_mt";
		reg = <0x49>;
		interrupt-parent = <&gpio1>;
		interrupts = <20 0x2>; /*Pin Active high to low edge*/
	};

};


&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	hdmi: edid@50 {
                compatible = "fsl,imx6-hdmi-i2c";
                reg = <0x50>;
        };

	/* Pericom is on this one! */
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";


	expander: tca6416@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		interrupt-parent = <&gpio6>;
		interrupts = <11 0x2>; /*Pin Active high to low edge*/
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx6q-appaloosa {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				//MX6QDL_PAD_GPIO_19__GPIO4_IO05          0x1b0b0		/* CAN STBY */
				//MX6QDL_PAD_EIM_D19__GPIO3_IO19      	0x80000000  	/* spi-nor CS1 */
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27    	0x000b0     	/* ethernet phy reset */
				MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28   	0x1b0b0     	/* ethernet phy interrupt */
				MX6QDL_PAD_SD3_DAT5__GPIO7_IO00     	0x80000000  	/* USDHC3 CD */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12      	0x0b0b0       	/* USB Hub Reset */

				//MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x0b0b0		/* (Output with pullup) USDHC4 (eMMC) RESET Signal*/
				//MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x80000000		/* Use u-boot's configuration USDHC4 (eMMC) RESET Signal*/
				MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x1b0b0		/* EN/VDDIO signal for the backlight driver (LP8860) */
				MX6QDL_PAD_NANDF_CS1__GPIO6_IO14	0x1b0b0		/* PANEL Enable Signal GPIO */
				>;
		};

		pinctrl_pcie: pciegrp {
			fsl,pins = <
				//MX6QDL_PAD_NANDF_WP_B__IPU2_SISG5                 0x000b0         /* pcie reset ==> Used to be emmc reset. Is pin E15 GPIO6 IO09*/
				//MX6QDL_PAD_SD4_DAT7__GPIO2_IO15		0x000b0		/* REV. 3 PCIE reset */
				MX6QDL_PAD_GPIO_19__GPIO4_IO05			0x000b0		/* REV. 4 PCIE Reset */
				//MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x0b0b0		/* Power-on-GPIO*/
				//MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x0b0b0		/* False wake up signal*/
				//MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x000b0		/* disable-gpio*/
			>;
		};
		
		pinctrl_bezelled: bezelled {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x80000000	/* Green LED Switch (On/Off) GPIO */
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02		0x80000000	/* Blue  LED Swotcj (On/Off) GPIO */ 
			>;
		};
		/* 8-Bit Parallel Camera */
		pinctrl_ipu2_2: ipu2grp-2 {
                    fsl,pins = <
                            MX6QDL_PAD_EIM_DA9__IPU2_CSI1_DATA00            0x80000000
                            MX6QDL_PAD_EIM_DA8__IPU2_CSI1_DATA01            0x80000000
                            MX6QDL_PAD_EIM_DA7__IPU2_CSI1_DATA02            0x80000000
                            MX6QDL_PAD_EIM_DA6__IPU2_CSI1_DATA03            0x80000000
                            MX6QDL_PAD_EIM_DA5__IPU2_CSI1_DATA04            0x80000000
                            MX6QDL_PAD_EIM_DA4__IPU2_CSI1_DATA05            0x80000000
                            MX6QDL_PAD_EIM_DA3__IPU2_CSI1_DATA06            0x80000000
                            MX6QDL_PAD_EIM_DA2__IPU2_CSI1_DATA07            0x80000000
                            MX6QDL_PAD_EIM_DA1__IPU2_CSI1_DATA08            0x80000000
                            MX6QDL_PAD_EIM_DA0__IPU2_CSI1_DATA09            0x80000000
                            MX6QDL_PAD_EIM_EB1__IPU2_CSI1_DATA10            0x80000000
                            MX6QDL_PAD_EIM_EB0__IPU2_CSI1_DATA11            0x80000000
                            MX6QDL_PAD_EIM_A17__IPU2_CSI1_DATA12            0x80000000
                            MX6QDL_PAD_EIM_A18__IPU2_CSI1_DATA13            0x80000000
                            MX6QDL_PAD_EIM_A19__IPU2_CSI1_DATA14            0x80000000
                            MX6QDL_PAD_EIM_A20__IPU2_CSI1_DATA15            0x80000000
                            MX6QDL_PAD_EIM_A21__IPU2_CSI1_DATA16            0x80000000
                            MX6QDL_PAD_EIM_A22__IPU2_CSI1_DATA17            0x80000000
                            MX6QDL_PAD_EIM_A23__IPU2_CSI1_DATA18            0x80000000
                            MX6QDL_PAD_EIM_A24__IPU2_CSI1_DATA19            0x80000000
                            MX6QDL_PAD_EIM_A16__IPU2_CSI1_PIXCLK            0x80000000
                            MX6QDL_PAD_EIM_DA11__IPU2_CSI1_HSYNC            0x80000000
                            MX6QDL_PAD_EIM_DA12__IPU2_CSI1_VSYNC            0x80000000
                            MX6QDL_PAD_EIM_DA10__GPIO3_IO10             0xb0b1
                    >;
                };

                /* 16-bit Parallel Port*/
                pinctrl_ipu2_3: ipu2grp-3 {
                    fsl,pins = <
                            MX6QDL_PAD_EIM_A16__IPU2_CSI1_PIXCLK            0x80000000
                            MX6QDL_PAD_EIM_DA11__IPU2_CSI1_HSYNC            0x80000000
                            MX6QDL_PAD_EIM_DA12__IPU2_CSI1_VSYNC            0x80000000
                            MX6QDL_PAD_EIM_DA10__IPU2_CSI1_DATA_EN          0x80000000
                            MX6QDL_PAD_EIM_DA9__IPU2_CSI1_DATA00            0x80000000
                            MX6QDL_PAD_EIM_DA8__IPU2_CSI1_DATA01            0x80000000
                            MX6QDL_PAD_EIM_DA7__IPU2_CSI1_DATA02            0x80000000
                            MX6QDL_PAD_EIM_DA6__IPU2_CSI1_DATA03            0x80000000
                            MX6QDL_PAD_EIM_DA5__IPU2_CSI1_DATA04            0x80000000
                            MX6QDL_PAD_EIM_DA4__IPU2_CSI1_DATA05            0x80000000
                            MX6QDL_PAD_EIM_DA3__IPU2_CSI1_DATA06            0x80000000
                            MX6QDL_PAD_EIM_DA2__IPU2_CSI1_DATA07            0x80000000
                            MX6QDL_PAD_EIM_DA1__IPU2_CSI1_DATA08            0x80000000
                            MX6QDL_PAD_EIM_DA0__IPU2_CSI1_DATA09            0x80000000
                            MX6QDL_PAD_EIM_EB1__IPU2_CSI1_DATA10            0x80000000
                            MX6QDL_PAD_EIM_EB0__IPU2_CSI1_DATA11            0x80000000
                            MX6QDL_PAD_EIM_A17__IPU2_CSI1_DATA12            0x80000000
                            MX6QDL_PAD_EIM_A18__IPU2_CSI1_DATA13            0x80000000
                            MX6QDL_PAD_EIM_A19__IPU2_CSI1_DATA14            0x80000000
                            MX6QDL_PAD_EIM_A20__IPU2_CSI1_DATA15            0x80000000
                    >;
                };
		pinctrl_audmux_4: audmux-4 {
                        fsl,pins = <
                                MX6QDL_PAD_KEY_COL0__AUD5_TXC  0x130b0
                                MX6QDL_PAD_KEY_ROW0__AUD5_TXD  0x130b0
                                MX6QDL_PAD_KEY_ROW1__AUD5_RXD  0x130b0
                                MX6QDL_PAD_KEY_COL1__AUD5_TXFS  0x130b0
                        >;
                };

		pinctrl_enet: enetgrp {
                 	fsl,pins = <
                         	MX6QDL_PAD_ENET_MDIO__ENET_MDIO       0x1b0b0
                         	MX6QDL_PAD_ENET_MDC__ENET_MDC         0x1b0b0
                         	MX6QDL_PAD_RGMII_TXC__RGMII_TXC       0x1b0b0
                         	MX6QDL_PAD_RGMII_TD0__RGMII_TD0       0x1b0b0
                         	MX6QDL_PAD_RGMII_TD1__RGMII_TD1       0x1b0b0
                         	MX6QDL_PAD_RGMII_TD2__RGMII_TD2       0x1b0b0
                         	MX6QDL_PAD_RGMII_TD3__RGMII_TD3       0x1b0b0
                         	MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL 0x1b0b0
                         	MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK  0x1b0b0
                         	MX6QDL_PAD_RGMII_RXC__RGMII_RXC       0x1b0b0
                         	MX6QDL_PAD_RGMII_RD0__RGMII_RD0       0x1b0b0
                         	MX6QDL_PAD_RGMII_RD1__RGMII_RD1       0x1b0b0
                         	MX6QDL_PAD_RGMII_RD2__RGMII_RD2       0x1b0b0
                         	MX6QDL_PAD_RGMII_RD3__RGMII_RD3       0x1b0b0
                         	MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL 0x1b0b0
                 	>;
         	};

		pinctrl_ipu1: ipu1grp {
                 	fsl,pins = <
                         	MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK 0x10
                         	MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15       0x10
                         	MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02        0x10
                         	MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03        0x10
                         	MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00   0x10
                         	MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01   0x10
                         	MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02   0x10
                         	MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03   0x10
                         	MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04   0x10
                         	MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05   0x10
                         	MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06   0x10
                         	MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07   0x10
                         	MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08   0x10
                         	MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09   0x10
                        	MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10  0x10
                         	MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11  0x10
                         	MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12  0x10
                         	MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13  0x10
                         	MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14  0x10
                         	MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15  0x10
                         	MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16  0x10
                         	MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17  0x10
                         	MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18  0x10
                         	MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19  0x10
                         	MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20  0x10
                         	MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21  0x10
                         	MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22  0x10
                         	MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23  0x10
                 	>;
         	};

		pinctrl_mlb: mlbgrp {
                        fsl,pins = <
                                MX6QDL_PAD_ENET_TXD1__MLB_CLK 0x80000000
                                MX6QDL_PAD_GPIO_6__MLB_SIG    0x80000000
                                MX6QDL_PAD_GPIO_2__MLB_DATA   0x80000000
                        >;
                };

		pinctrl_pwm1: pwm1grp {
                        fsl,pins = <
                                MX6QDL_PAD_SD1_DAT3__PWM1_OUT 0x1b0b1
                        >;
                };

		pinctrl_pwm3: pwm3grp {
                 	fsl,pins = <
                         	MX6QDL_PAD_SD1_DAT1__PWM3_OUT 0x1b0b1
                 	>;
         	};

         	pinctrl_pwm4: pwm4grp {
                 	fsl,pins = <
                         	MX6QDL_PAD_SD1_CMD__PWM4_OUT 0x1b0b1
                 	>;
         	};

         	pinctrl_uart1: uart1grp {
                 	fsl,pins = <
                         	MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA 0x1b0b1
                         	MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA 0x1b0b1
                 	>;
         	};

         	pinctrl_uart2: uart2grp {
                 	fsl,pins = <
                         	MX6QDL_PAD_GPIO_7__UART2_TX_DATA 0x1b0b1
                         	MX6QDL_PAD_GPIO_8__UART2_RX_DATA 0x1b0b1
                 	>;
        	};

         	pinctrl_uart3: uart3grp {
                 	fsl,pins = <
                         	MX6QDL_PAD_EIM_D25__UART3_RX_DATA 0x1b0b1
                         	MX6QDL_PAD_EIM_D24__UART3_TX_DATA 0x1b0b1
                 	>;
         	};

		pinctrl_uart4: uart4grp {
                        fsl,pins = <
                                MX6QDL_PAD_KEY_COL0__UART4_TX_DATA 0x1b0b1
                                MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA 0x1b0b1
                        >;
                };

		pinctrl_esai2: esaigrp2 {
                        fsl,pins = <
                                MX6QDL_PAD_ENET_CRS_DV__ESAI_TX_CLK 0x1b030
                                MX6QDL_PAD_ENET_RXD1__ESAI_TX_FS    0x1b030
                                MX6QDL_PAD_ENET_TX_EN__ESAI_TX3_RX2 0x1b030
                                MX6QDL_PAD_GPIO_5__ESAI_TX2_RX3     0x1b030
                                MX6QDL_PAD_ENET_TXD0__ESAI_TX4_RX1  0x1b030
                                MX6QDL_PAD_ENET_MDC__ESAI_TX5_RX0   0x1b030
                                MX6QDL_PAD_GPIO_17__ESAI_TX0        0x1b030
                                MX6QDL_PAD_NANDF_CS3__ESAI_TX1      0x1b030
                                MX6QDL_PAD_ENET_MDIO__ESAI_RX_CLK   0x1b030
                                MX6QDL_PAD_GPIO_9__ESAI_RX_FS       0x1b030
                        >;
                };

		pinctrl_flexcan1: flexcan1grp {
                	fsl,pins = <
                        	MX6QDL_PAD_KEY_ROW2__FLEXCAN1_RX        0x17059
                	        MX6QDL_PAD_KEY_COL2__FLEXCAN1_TX        0x17059
                	>;
        	};

        	pinctrl_flexcan2: flexcan2grp {
                	fsl,pins = <
                        	MX6QDL_PAD_KEY_COL4__FLEXCAN2_TX        0x17059
                        	MX6QDL_PAD_KEY_ROW4__FLEXCAN2_RX        0x17059
       	         	>;
	        };

		pinctrl_gpmi_nand: gpminandgrp {
                        fsl,pins = <
                                MX6QDL_PAD_NANDF_CLE__NAND_CLE          0xb0b1
                                MX6QDL_PAD_NANDF_ALE__NAND_ALE          0xb0b1
                                MX6QDL_PAD_NANDF_WP_B__NAND_WP_B        0xb0b1
                                MX6QDL_PAD_NANDF_RB0__NAND_READY_B      0xb000
                                MX6QDL_PAD_NANDF_CS0__NAND_CE0_B        0xb0b1
                                MX6QDL_PAD_NANDF_CS1__NAND_CE1_B        0xb0b1
                                MX6QDL_PAD_SD4_CMD__NAND_RE_B           0xb0b1
                                MX6QDL_PAD_SD4_CLK__NAND_WE_B           0xb0b1
                                MX6QDL_PAD_NANDF_D0__NAND_DATA00        0xb0b1
                                MX6QDL_PAD_NANDF_D1__NAND_DATA01        0xb0b1
                                MX6QDL_PAD_NANDF_D2__NAND_DATA02        0xb0b1
                                MX6QDL_PAD_NANDF_D3__NAND_DATA03        0xb0b1
                                MX6QDL_PAD_NANDF_D4__NAND_DATA04        0xb0b1
                                MX6QDL_PAD_NANDF_D5__NAND_DATA05        0xb0b1
                                MX6QDL_PAD_NANDF_D6__NAND_DATA06        0xb0b1
                                MX6QDL_PAD_NANDF_D7__NAND_DATA07        0xb0b1
                                MX6QDL_PAD_SD4_DAT0__NAND_DQS           0x00b1
                        >;
                };

		pinctrl_hdmi_cec: hdmicecgrp {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_A25__HDMI_TX_CEC_LINE 0x1f8b0
                        >;
                };

		pinctrl_ecspi1: ecspi1grp {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_D17__ECSPI1_MISO         0x100b1
                                MX6QDL_PAD_EIM_D18__ECSPI1_MOSI         0x100b1
                                MX6QDL_PAD_EIM_D16__ECSPI1_SCLK         0x100b1
                        >;
                };

                pinctrl_ecspi1_cs1: ecspi1i_cs1 {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_D19__GPIO3_IO19 0x80000000
                        >;
                };

		pinctrl_ecspi1_cs0: ecspi1_cs0 {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_EB2__GPIO2_IO30 0x80000000
                        >;
                };

		pinctrl_usbotg: usbotggrp {
                        fsl,pins = <
                                MX6QDL_PAD_ENET_RX_ER__USB_OTG_ID 0x17059
                        >;
                };

		pinctrl_usdhc2: usdhc2grp {
                        fsl,pins = <
                                MX6QDL_PAD_SD2_CMD__SD2_CMD    0x17059
                                MX6QDL_PAD_SD2_CLK__SD2_CLK    0x10059
                                MX6QDL_PAD_SD2_DAT0__SD2_DATA0 0x17059
                                MX6QDL_PAD_SD2_DAT1__SD2_DATA1 0x17059
                                MX6QDL_PAD_SD2_DAT2__SD2_DATA2 0x17059
                                MX6QDL_PAD_SD2_DAT3__SD2_DATA3 0x17059
                        >;
                };

		pinctrl_usdhc3: usdhc3grp {
                        fsl,pins = <
                                MX6QDL_PAD_SD3_CMD__SD3_CMD    0x17059
                                MX6QDL_PAD_SD3_CLK__SD3_CLK    0x10059
                                MX6QDL_PAD_SD3_DAT0__SD3_DATA0 0x17059
                                MX6QDL_PAD_SD3_DAT1__SD3_DATA1 0x17059
                                MX6QDL_PAD_SD3_DAT2__SD3_DATA2 0x17059
                                MX6QDL_PAD_SD3_DAT3__SD3_DATA3 0x17059
                        >;
                };

		pinctrl_usdhc4: usdhc4grp {
                        fsl,pins = <
                                MX6QDL_PAD_SD4_CMD__SD4_CMD    0x17059
                                MX6QDL_PAD_SD4_CLK__SD4_CLK    0x10059
                                MX6QDL_PAD_SD4_DAT0__SD4_DATA0 0x17059
                                MX6QDL_PAD_SD4_DAT1__SD4_DATA1 0x17059
                                MX6QDL_PAD_SD4_DAT2__SD4_DATA2 0x17059
                                MX6QDL_PAD_SD4_DAT3__SD4_DATA3 0x17059
                                MX6QDL_PAD_SD4_DAT4__SD4_DATA4 0x17059
                                MX6QDL_PAD_SD4_DAT5__SD4_DATA5 0x17059
                                MX6QDL_PAD_SD4_DAT6__SD4_DATA6 0x17059
                                MX6QDL_PAD_SD4_DAT7__SD4_DATA7 0x17059
                        >;
                };

		pinctrl_ecspi2_cs: ecspi2_cs_grp {
                        fsl,pins = <
                                MX6QDL_PAD_DISP0_DAT18__GPIO5_IO12 0x80000000
                        >;
                };

                pinctrl_ecspi2: ecspi2grp {
                        fsl,pins = <
                                MX6QDL_PAD_DISP0_DAT16__ECSPI2_MOSI 0x100b1
                                MX6QDL_PAD_DISP0_DAT17__ECSPI2_MISO 0x100b1
                                MX6QDL_PAD_DISP0_DAT19__ECSPI2_SCLK 0x100b1
                        >;
                };

		pinctrl_i2c1: i2c1grp {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_D21__I2C1_SCL 0x4001b8b1
                                MX6QDL_PAD_EIM_D28__I2C1_SDA 0x4001b8b1
                        >;
                };

		pinctrl_i2c2: i2c2grp {
                        fsl,pins = <
                                MX6QDL_PAD_KEY_COL3__I2C2_SCL 0x4001b8b1
                                MX6QDL_PAD_KEY_ROW3__I2C2_SDA 0x4001b8b1
                        >;
                };

		pinctrl_i2c3: i2c3grp {
                        fsl,pins = <
                                MX6QDL_PAD_GPIO_5__I2C3_SCL  0x4001b8b1
                                MX6QDL_PAD_GPIO_16__I2C3_SDA 0x4001b8b1
                        >;
                };

	};
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	/*trx-stby-gpio = <&gpio1 2 GPIO_ACTIVE_LOW>;*/
	status = "disabled";
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "disabled";
};

&ldb {
	compatible = "fsl,imx6q-ldb";
	//split-mode =<1>;
	dual-mode = <1>;
	status = "okay";

	lvds-channel@0 {
		crtc = "ipu1-di0";		
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		//BBBstatus = "okay";
		status = "okay";
		
		display-timings {
			native-mode = <&XGA_LVDS0>;
			XGA_LVDS0: XGA-R-0 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <220>;
				hfront-porch = <40>;
				vback-porch = <21>;
				vfront-porch = <7>;
				hsync-len = <60>;
				vsync-len = <10>;
			};
			lvds0_timing1: WXGA-R {
				clock-frequency = <71000000>;
				hactive = <1280>;
				hfront-porch = <48>;
				hback-porch = <80>;
				hsync-len = <32>;
				vactive = <800>;
				vfront-porch = <3>;
				vback-porch = <14>;
				vsync-len = <6>;
			};
		};
	};

	lvds-channel@1 {
		crtc = "ipu1-di1";
		fsl,data-mapping = "spwg";
		//BBBfsl,data-width = <24>;
		fsl,data-width = <18>;
		status = "okay";
		primary;

		display-timings {
			native-mode = <&XGA_LVDS1>;
			XGA_LVDS1:  XGA-R-1 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <220>;
				hfront-porch = <40>;
				vback-porch = <21>;
				vfront-porch = <7>;
				hsync-len = <60>;
				vsync-len = <10>;
			};
			lvds1_timing1: WXGA-R {
				clock-frequency = <71000000>;
				hactive = <1280>;
				hfront-porch = <48>;
				hback-porch = <80>;
				hsync-len = <32>;
				vactive = <800>;
				vfront-porch = <3>;
				vback-porch = <14>;
				vsync-len = <6>;
			};
		};
	};
};

&dcic1 {
	dcic_id = <0>;
	dcic_mux = "dcic-hdmi";
	status = "okay";
};

&dcic2 {
	dcic_id = <1>;
	dcic_mux = "dcic-lvds0";
	status = "okay";
};

&mlb {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mlb>;
	status = "okay";
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand>;
	status = "disabled"; /* pin conflict with uart3 */
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&usbh1 {
//	vbus-supply = <&reg_usb_h1_vbus>;
	status = "okay";
};

&usbotg {
    vbus-supply = <&reg_usb_otg_vbus>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usbotg>;
    disable-over-current;
    status = "okay";
};

&usdhc2 { 
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc2>;
    cd-gpios = <&gpio1 4 0>;
    vmmc-supply = <&sw2_reg>;
    status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	/*cd-gpios = <&gpio7 0 0>;*/
	wp-gpios = <&gpio7 1 0>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";//, "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc4>;
	//pinctrl-1 = <&pinctrl_usdhc4_1_100mhz>;
	//pinctrl-2 = <&pinctrl_usdhc4_1_200mhz>;
	bus-width = <4>;
	/*
	 * overwrite cd-gpios and wp-gpios since they are reused as eMMC DATA
	 * signals after rework
	 */
	cd-gpios = <>;
	wp-gpios = <>;
	no-1-8-v;
	//keep-power-in-suspend;
	//non-removable;
	status = "disabled";

    //pinctrl-names = "default";
    //pinctrl-0 = <&pinctrl_usdhc4_2>;
    //cd-gpios = <&gpio2 6 0>;
    //vmmc-supply = <&sw2_reg>;
    //status = "okay";
};

/*&mipi_csi {
	ipu_id = <0>;
	csi_id = <1>;
	v_channel = <0>;
	lanes = <2>;
	status = "disabled";
};

&mipi_dsi {
	dev_id = <0>;
	disp_id = <1>;
	lcd_panel = "TRULY-WVGA";
	//disp-power-on-supply = <&reg_mipi_dsi_pwr_on>;
	//resets = <&mipi_dsi_reset>;
	status = "disabled";
};*/

&pwm1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm1>;
    status = "okay";
};

&pwm3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm3>;
    status = "okay";
};

&pwm4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm4>;
    status = "okay";
};

&ssi1 {
    fsl,mode = "i2s-slave";
    status = "okay";
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart1>;
    status = "okay";
};

&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart2>;
    status = "okay";
};

&uart3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart3>;
    fsl,uart-has-rtscts;
    status = "okay";
};


&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpio = <&gpio4 19 GPIO_ACTIVE_LOW>;
	status = "okay";
};

